.previousGameDiv:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.inputLine{
    padding: 6px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
}


.playerStanding{
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 3px;
}